body {
    font-family: Arial, sans-serif;
    background-color: #DEF2F1; 
    color: #17252A; 
    margin: 0;
    padding: 0;
}

header {
    background-color: #003D4C; 
    padding: 20px;
    text-align: center;
    color: #DEF2F1; 
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.item-carrinho {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.item-carrinho img {
    max-width: 350px;
    margin-right: 20px;
}




.detalhes-produto h2 {
    margin: 0;
    color: #003D4C; 
}

.detalhes-produto p {
    margin: 5px 0;
    color: #2B7A78; 
}

.quantidade {
    margin: 10px 0;
}

.quantidade input {
    width: 50px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #2B7A78; 
}

.remover {
    background-color: #3AAFA9;
    color: #FFFFFF;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.remover:hover {
    background-color: #2B7A78; 
}

.compra-total {
    text-align: right;
}

.compra-total h3 {
    margin: 0 0 20px 0;
    color: #003D4C; 
}

.finalizar {
    background-color: #003D4C; 
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.finalizar:hover {
    background-color: #2B7A78; 
}

footer {
<<<<<<< HEAD
    background-color: #024959;
    color: #DEF2F1;
    padding: 20px 0;
    text-align: center;
}

footer .rodape-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}
=======
    background-color: #003D4C; 
    padding: 10px;
    text-align: center;
    color: #DEF2F1; 
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 20%;
}
h6{
    font-size: 20px;
    margin-top: 30px;
    text-align: center;
    color: #024959;
}
>>>>>>> origin/dyego
